body{
  background-color: blanchedalmond;
  color: grey;
  text-align: center;
  animation: 3s ease-in-out infinite texte;
  cursor: help;
}

p{
  font-size: 2em;
  text-transform: uppercase;
}

a{
  animation-name: texte;
  text-decoration: none;
  font-size: 2em;
  color: yellow;
  }

  a:hover{/************le hover ne fonctionne pas************/
    color: lightgoldenrodyellow;
    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
    transition: all 500ms;
    animation: lien 1s 0s ease-in-out both;
    animation: color 50ms 0s ease-in-out infinite;
    box-shadow: 0px 0px 20px white;
    text-shadow: 0px 0px 10px white;
    padding: 0.6em;

    }

@keyframes texte{
  0%{
    color: grey;
    background-color: rgb(71, 71, 71);
  }
  50%{
    color: lightgrey;
    background-color: rgb(31, 30, 30);
  }
  100%{
    color: grey;
    background-color: rgb(71, 71, 71);
  }
}

@keyframes lien {
  0%{
    color: yellow;
    font-size: 2em;
  }
  10%{
    color: orange;
  }
  20%{
    color: red;
  }
  30%{
    color: purple;
  }
  40%{
    color: darkblue;
  }
  50%{
    color: blue;
  }
  60%{
    color: turquoise;
  }
  70%{
    color: green
  }
  80%{
    color: greenyellow;
  }
  90%{
    color:
  }
  100%{
    font-size: 5em;
    transition: all 1s;
  }
  
}

@keyframes color {
  0%{
    color: yellow;
  }
  10%{
    color: orange;
  }
  20%{
    color: red;
  }
  30%{
    color: purple;
  }
  40%{
    color: darkblue;
  }
  50%{
    color: blue;
  }
  60%{
    color: turquoise;
  }
  70%{
    color: green
  }
  80%{
    color: greenyellow;
  }
  90%{
    color:
  }
  100%{
    transition: all 1s;
  }
}