body{
  background-color: blanchedalmond;
  color: grey;
  text-align: center;
  animation: 3s ease-in-out infinite texte;
}

p{
  margin-top: 40vh;
  font-size: 2.5em;
  text-transform: uppercase;
}

a{
  text-decoration: none;
  font-size: 2em;
  color: yellow;
  }

  a :hover{
    color: blue;
    background-color:black;
   }

@keyframes texte{
  0%{
    color: grey;
    background-color: rgb(71, 71, 71);
  }
  50%{
    color: lightgrey;
    background-color: rgb(31, 30, 30);
  }
  100%{
    color: grey;
    background-color: rgb(71, 71, 71);
  }
}